{% extends 'base.html' %}
{% block body %}

<h1>Add a Destination: </h1>


<form class="add-destination-form" action="/destinations/add" method="post">

    <label class="dest-field" for="country"> Country: </label>
    <input type="text" id='country' name='country' placeholder="Country" required autofocus>

    <label class="dest-field" for="city"> City: </label>
    <input type="text" id='city' name='city' placeholder="City" required autofocus>

    <input id="dest-add-button" type='submit' value="ADD"><a href="/destinations/add"></a></input>
</form>

{% endblock %}