{% extends "base.html" %}
{% block body %}

<form action="/destinations/{{destination.id}}" method="post">

      <label for="visited">Visited:</label>
      <select id="visited" name="visited">
        <option value="true"
          { % if destination.visited == True % } selected="selected" { % endif % }>Yes</option>
        <option value="false"
          { % if destination.visited == False % } selected="selected" { % endif % }>No</option>
      </select>
    </div>

    <input type='submit' value="UPDATE"><a href="/destinations"></a></input>
  </form>
  {% endblock %}