{% extends 'base.html' %}
{% block body %}

<h1>Choose Your Destination: </h1>


<form class="add-destination-form" action="/destinations" method="post">
    <label for="user">Choose a Traveller: </label>
    <select name="user" id="user">
        <option value=""></option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.name }}</option>   
            {% endfor %}
    </select>

    <!-- <label for="country">Choose a Country: </label>
    <select name="country" id="country">
        <option value=""></option>
        {% for country in countries %}
        <option value="{{ country.id }}">{{ country.name }}</option>   
            {% endfor %}
    </select>

    <label for="city">Choose a City: </label>
    <select name="city" id="city">
        <option value=""></option>
        {% for city in cities %}
        <option value="{{ city.id }}">{{ city.name }}</option>   
            {% endfor %}
    </select> -->

    <label for="country"> Country: </label>
    <input type="text" id='country' name='country' placeholder="Country" required autofocus>

    <label for="city"> City: </label>
    <input type="text" id='city' name='city' placeholder="City" required autofocus>

    <!-- <label for="visited">Visited: </label>
    <select name="visited" id="visited">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select> -->

    <input type='submit' value="ADD"><a href="/destinations"></a></input>
</form>






<h1>Places You Want To Visit: </h1>

{% for destination in destinations %}  
<div>
  <p id='list-all-destinations'>    
    <b>{{ destination.user.name }},</b>
    <b>{{ destination.country.name }},</b>
    <b>{{ destination.city.name }},</b>
    <b>
        {% if destination.visited == True %}
            <span style='font-size:30px;'>&#10003;</span></b>         
        {% else %}
            <span style='font-size:30px;'>&#10005;</span>
        {% endif %}
    <button><a href="/destinations/{{destination.id}}/edit">Edit</a></button>
  </p>
</div>
{% endfor %} 


{% endblock %}