body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/Iceland.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }

.nav-bar {
    display: flex;
    background-color: black;
    opacity: 0.5;
}

.nav-bar li:first-child {
    margin-right: auto;
}

.nav-bar li {
    list-style: none;
}

#last-nav {
    padding-right: 40px;
}

.nav-bar a {
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    margin: 15px;
    border-radius: 15px;
}

.nav-bar .logo {
    color: white;
    background-color: black;
    font-size: xx-large;
}

.home-page {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 100px;
    font-size: xx-large;
}

h1 {
    font-size: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: small;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

