{% extends 'base.html' %}
{% block body %}

<h1>Traveller: {{ user.name }} </h1>


{% for destination in destinations %}  
<div>
  <p id='list-all-destinations'>
    {% if destination.user.name == user.name %}
      
    <b>{{ destination.country.name }},</b>
    <b>{{ destination.city.name }},</b>
    {% if destination.visited == True %}
    	<span style='font-size:30px;'>&#10003;</span></b>         
    {% else %}
    	<span style='font-size:30px;'>&#10005;</span>
	{% endif %}

    {% endif %}
  </p>
</div>
{% endfor %} 

{% endblock %}
